.investmentResult {
    .resultList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        border-bottom: 1px solid #d3cfcf;
        margin-bottom: 40px;
        .resultListItem {
            padding: 20px 20px;
            //  border: 1px solid #d3cfcf;
            text-align: left;
            &.value {
                text-align: right;
                color: #5c5cfa;
            }
            &:nth-child(even) {
                border-bottom: none;
                border-left: none;
            }
            &:nth-child(odd) {
                border-bottom: none;
            }
        }
    }

    .estimateData {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 30px;
        margin-bottom: 20px;
        .estimateDataItem {
            padding: 10px 15px;
            background: #fff;
            border-radius: 8px;
        }
    }

    .estimateResult {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        grid-gap: 40px;
        background-color: #fff;
        padding: 20px;
        &.header {
            border-radius: 16px 16px 0 0;
            .estimateResultItem {
                padding: 15px 20px;
                color: #fff;
                border-radius: 8px;
                background-color: #5c5cfa;
                &.revenue {
                    background-color: #fbb03b;
                }
            }
        }
        &:last-child {
            border-radius: 0 0 16px 16px;
        }
    }
}
