.investmentResult{
    .resultList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        border-bottom: 1px solid #d3cfcf;
        margin-bottom: 40px;
        .resultListItem{
            padding: 20px 20px;
            border: 1px solid #d3cfcf;
            &:nth-child(even){
                border-bottom: none;
                border-left: none;
            }
            &:nth-child(odd){
                border-bottom: none;
            }
        }
    }

    .estimateData{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 30px;
        margin-bottom: 40px;

        .estimateDataItem{
            padding: 10px 15px;
            border: 1px solid #d3cfcf;
        }
    }

    .estimateResult{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        border-bottom: 1px solid #d3cfcf;
        margin-bottom: 40px;
        .estimateResultItem{
            padding: 15px 20px;
            border: 1px solid #d3cfcf;
            &:nth-child(even){
                border-bottom: none;
                border-left: none;
            }
            &:nth-child(odd){
                border-bottom: none;
            }
        }
    }
}