.uploadImages {
    .at-image-picker__flex-box {
        padding: 0;
    }
    .at-image-picker__flex-item {
        margin-left: 0;
    }

    .tip {
        display: flex;
        margin-top: 20px;
        font-size: 25px;
        color: #ccc;
    }
}
