.customTable{
   .customTableHeader{
        display: flex;
        background-color: #fafafa;
        height: 90px;
        .customTableHeaderItem{
            flex: 1;
            border: 2px solid #f0f0f0;
            padding: 5px;
            text-align: center;
            line-height: 90px;
            position: relative;
            font-size: 20px;
            
            .customTableHeaderItemLeftBottom{
                position: absolute;
                left: 10px;
                bottom: -10px;
                font-size: 15px;
            }
            .customTableHeaderItemRightTop{
                position: absolute;
                right: 10px;
                top: -10px;
                font-size: 15px;
            }
            &:not(:last-child){
                border-right: 0;
            }
        }
   }
}

.customTableContent{
    .customTableContentRow{
        display: flex;
    }
    .customTableContentCol{
        flex: 1;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        border: 2px solid #f0f0f0;
        border-top: 0;
        font-size: 20px;
        padding: 5px;
        &:not(:last-child){
            border-right: 0;
        }
    }
    .noData{
        border: 1px solid #f0f0f0;
        border-top: none;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        color: #ccc;
    }
}

.diagonal{
    background: linear-gradient(
        to top right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) calc(50% - 1.5px),
        #f0f0f0 50%,
        rgba(0, 0, 0, 0) calc(50% + 1.5px),
        rgba(0, 0, 0, 0) 100%
    );
}