.investment{
    .at-input{
        margin-left: unset;
    }
    .at-input input{
        text-align: right;
    }
    .at-input__input{
        padding-right: unset;
    }
    .at-input__title{
        font-size: 30px;
    }
}